<!DOCTYPE html>
<html lang="en">

<!-- import head -->
<%- include('../partials/head.ejs') %>

<body>

    <!-- import header -->
    <%- include('../partials/header.ejs') %>

    <main>  
        <div class="index-pokemon-gallery">
            <!-- render pokemon names and images -->
            <% for (pokemon of pokemon) { %>
                <div class="pokemon-card">
                    <a href="/pokemon/<%= pokemon.id %>">
                        <h3> <%= pokemon.name %> </h3>
                        <div class="img-area">
                            <img alt="a photo of <%= pokemon.name %>" src="<%= pokemon.img %>" />
                        </div>
                    </a>

                    <a href="/pokemon/<%= pokemon.id %>/edit"><button>Edit</button></a>

                    <form action="/pokemon/<%= pokemon.id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete">
                    </form>

                </div>
            <% } %>
        </div>
    </main>

</body>
</html>