<!DOCTYPE html>
<html lang="en">

<!-- import head -->
<%- include('../partials/head.ejs') %>

<body>

    <!-- import header -->
    <%- include('../partials/header.ejs') %>

    <nav>
        <a href="/pokemon/new"><button>Add a Pokemon</button></a>
    </nav>

    <main>  
        <div class="display">
            <!-- render pokemon names and images -->
            <% for (pokemon of pokemon) { %>
                <a href="/pokemon/<%= pokemon.id %>">
                    <h3> <%= pokemon.name %> </h3>
                    <img alt="a photo of <%= pokemon.name %>" src="<%= pokemon.img %>" />
                </a>
            <% } %>
        </div>
    </main>

</body>
</html>